/** @format */

.playground-body {
    padding: 8px;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    .left-side {
        height: 100%;
        background-color: #fff;
        border-right: 8px solid #f0f0f0;
        flex-grow: 1;
        border-radius: 6px;

        .left-side__header {
            border-bottom: 1px solid #f2f3f4;
            padding: 0 20px;

            .ant-tabs {
                padding-top: 5px;
                margin: 0 0 -17px 0;

                .ant-tabs-nav:before {
                    border: none !important;
                }
            }
        }
        .left-side__body {
            padding: 20px;

            .left-problem__text {
                padding: 20px 0;
                font-size: 1.1em;
            }
        }
    }
    .right-side {
        .right-side__header {
            border-bottom: 1px solid #f2f3f4;
            padding: 5px;
            display: flex;
            gap: 20px;
            align-items: center;
            .ant-switch {
                background-color: #aaa;
                .ant-switch-inner > span {
                    display: flex !important;
                    align-items: center;
                    line-height: 1.8em;
                }
                &.ant-switch-checked {
                    background-color: #2e89ff;
                }
            }
        }
        border-radius: 6px;
        background-color: #fff;
        flex-grow: 1;
    }
}
