/** @format */

.playground-body {
    padding: 8px;
    display: flex;
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;

    .left-side {
        height: 100%;
        background-color: #282828;
        border-right: 8px solid #f0f0f0;
        flex-grow: 1;
        border-radius: 6px;

        .left-side__header {
            border-bottom: 1px solid #777;
            padding: 0 20px;
            font-weight: 500;
            background-color: #333;
            color: #beb1b4;

            .ant-tabs {
                padding-top: 5px;
                margin: 0 0 -17px 0;
                border: none !important;
                .ant-tabs-nav {
                    .ant-tabs-tab {
                        .ant-tabs-tab-btn {
                            border: none !important;
                            color: #fff;
                        }
                    }
                    .ant-tabs-ink-bar {
                        background-color: #ccc;
                    }
                }
            }
        }
        .left-side__body {
            padding: 20px;

            & > h1 {
                font-weight: 600;
                font-size: 1.3em;
            }

            .left-side__info {
                padding: 12px 0;
                display: flex;
                align-items: center;
                gap: 20px;

                .left-side__like,
                .left-side__dislike {
                    display: flex;
                    gap: 6px;
                    align-items: center;
                    border-radius: 5px;
                    transition: 0.09s;
                    color: #aaa;
                    padding: 2px 5px;

                    &:hover {
                        background-color: #535353;
                    }
                    &:active {
                        background-color: #282828;
                    }
                }
            }
            .left-problem__text {
                padding: 20px 0;
                font-size: 1em;
            }
        }
    }
    .right-side {
        background-color: #282828;
        .right-side__header {
            background-color: #333333;
            border-bottom: 1px solid #f2f3f4;
            padding: 5px;
            display: flex;
            gap: 20px;
            align-items: center;

            .ant-switch {
                background-color: #aaa;
                .ant-switch-inner > span {
                    display: flex !important;
                    align-items: center;
                    line-height: 1.8em;
                }
                &.ant-switch-checked {
                    background-color: #2e89ff;
                }
            }
        }
        border-radius: 6px;
        background-color: #fff;
        flex-grow: 1;
    }
}
