/** @format */

.global-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .global-layout__main {
        flex-grow: 1;
        color: #fff;
        overflow: auto;
        // padding: 20px;
    }
}

.container {
    max-width: 1410px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
