.noiseBg {
  position: absolute;
  background: url(../../assets/images/631a5d4631d4c55a475f3e34_noise-50.png);
  background-position: 0 0, 0 0;
  background-size: 200px auto;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main-page {
  overflow: hidden;
}
