@mixin fontStyle($font-size, $font-color) {
  font-size: $font-size;
  color: $font-color;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

.nav {
  height: auto;
  padding: 15px 0;
  z-index: 100;
  border-bottom: 1px solid rgb(93, 93, 93);
}

.navContent {
  @include flex(space-between, center);
  width: 100%;
}

.navLeft {
  display: flex;
  column-gap: 40px;
  position: relative;
}

.navLogo {
  @include fontStyle(30px, rgb(207, 0, 0));
  text-decoration: none;
  line-height: 120%;
}

.navList {
  @include flex(center, center);
  list-style: none;
  column-gap: 30px;
}

.navLink {
  @include fontStyle(18px, rgb(191, 191, 191));
  cursor: pointer;
  display: block;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s;

  &[aria-current="page"] {
    color: red;
  }

  &:hover {
    color: rgb(255, 0, 0);
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.68);
  }
}

.navRight {
  display: flex;
  column-gap: 25px;
}

.navIcon {
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }

  img {
    height: 100%;
    filter: grayscale(1) invert(1);
  }
}

.indicator {
  position: absolute;
  bottom: 0;
  background: red;
  height: 2px;
}
