/** @format */

// Problems page
.problems-list-page {
    padding: 20px;

    // Problems page head
    .problems-list__head {
        * {
            color: #fff;
        }
        .category-button {
            border-color: var(--color-bg-secondary);
            background-color: var(--color-bg-secondary);
        }
        .category-button-active,
        .category-button-active:hover {
            border-color: var(--color-active-primary);
            background-color: var(--color-active-primary);
        }

        .topic-button {
            &:hover {
                span {
                    color: #4096ff !important;
                }
            }
        }
        .topic-button-active,
        .topic-button-active:hover {
            border-color: var(--color-active-primary);
            background-color: var(--color-active-primary);
        }
    }

    // Question Table
    .question-table {
        .quesiton-link-button {
            transition: 0.05s !important;
            &:hover {
                color: var(--color-active-primary);
            }
        }
        .question-table-likes {
            display: flex;
            gap: 27px;

            & > div {
                display: flex;
                gap: 8px;
            }
        }
        .table-row-light {
            .ant-table-cell {
                color: #fff;
                border-color: var(--color-bg-secondary);
                background-color: var(--color-bg-secondary) !important;
            }
        }
        .ant-table-thead,
        .table-row-dark {
            background-color: var(--color-background);
            border-color: var(--color-background);
            .ant-table-cell {
                color: #fff;
                border-color: var(--color-background);
                background-color: var(--color-background) !important;
            }
        }
    }
}
