.tableWrapper {
  width: 100%;
  margin: 100px 0;
}

.table {
  width: 100%;
}

.tableData {
  display: grid;
  grid-template-columns: 70px auto 100px 150px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;

  &[data-bg="1"] {
    background: rgba(255, 255, 255, 0.099);

    &:hover {
      background: rgba(255, 255, 255, 0.134);
    }
  }

  &[data-bg="0"] {
    background: rgba(255, 255, 255, 0.237);

    &:hover {
      background: rgba(255, 255, 255, 0.273);
    }
  }
}

.tableColumn {
  padding: 10px 15px;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &[data-solved="no"] {
      background: red;
    }

    &[data-solved="yes"] {
      background: green;
    }
  }
}

.title {
  text-overflow: ellipsis;
  width: 100%;
  padding: 10px 0;
  //   white-space: nowrap;
}

.difficulty {
  text-transform: capitalize;
  padding: 10px 15px;

  &[data-diff="easy"] {
    color: green;
  }

  &[data-diff="medium"] {
    color: orange;
  }

  &[data-diff="hard"] {
    color: red;
  }
}

/******/

.tableSorter {
  display: grid;
  grid-template-columns: 70px auto 120px 150px;
  column-gap: 10px;
  margin: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.tableInfo {
  padding: 12px 15px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.276);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: rgba(205, 205, 205, 0.432);
  }
}

.likesWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;

  img {
    height: 20px;
    filter: grayscale(1) invert(1);
    opacity: 0.7;

    &[data-pressed="true"] {
      opacity: 0.9;
      filter: invert(21%) sepia(100%) saturate(2414%) hue-rotate(359deg) brightness(94%) contrast(100%);
    }
  }
}

.likeBtn {
  display: flex;
  column-gap: 5px;
  padding: 0 5px;
  user-select: none;

  &[data-dislike] {
    img {
      rotate: 180deg;
    }
  }
}

.chevron {
  filter: grayscale(1) invert(1);
  height: 16px;
  transition: 0.3s;

  &[data-selected="true"] {
    transform: rotate(-180deg);
  }
}
