@font-face {
  font-family: "InputSans400";
  src: url(../../assets/fonts/InputSans-Regular.ttf);
}

@font-face {
  font-family: "IBM400";
  src: url(../../assets/fonts/IBMPlexSans-Regular.ttf);
}

.tableWrapper {
  width: 100%;
  margin: 100px 0;
}

.table {
  width: 100%;
}

.tableData {
  display: grid;
  grid-template-columns: 70px auto 100px 180px;
  // margin: 5px 0;
  // border-radius: 10px;
  font-size: 16px;
  // cursor: pointer;

  p {
    font-family: "IBM400";
  }

  &[data-bg="1"] {
    background: #2A2A2A;
    transition: all 0.3s;
    
    &:hover {
      transition: all 0.3s;
      background: #2d2e2e;
      color: #0A84FF;
    }
  }
  
  &[data-bg="0"] {
    transition: all 0.3s;
    background: #0E141B;
    
    &:hover {
      transition: all 0.3s;
      color: #0A84FF;
      background: #1a1b1b;
    }
  }
}

.tableColumn {
  padding: 10px 15px;
  display: flex;
  align-items: center;
}

.status {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &[data-solved="no"] {
      background: red;
    }

    &[data-solved="yes"] {
      background: green;
    }

    &[data-solved="tried"] {
      background: orange;
    }
  }
}

.title {
  text-overflow: ellipsis;
  width: 100%;
  padding: 10px 0;

  p {
    cursor: pointer;
  }
  //   white-space: nowrap;
}

.difficulty {
  text-transform: capitalize;
  padding: 10px 15px;
  font-size: 15px;

  &[data-diff="easy"] {
    color: green;
  }

  &[data-diff="medium"] {
    color: orange;
  }

  &[data-diff="hard"] {
    color: red;
  }
}

/******/

.tableSorter {
  display: grid;
  grid-template-columns: 70px auto 120px 180px;
  // column-gap: 10px;
  // margin: 5px 0;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.tableInfo {
  padding: 12px 15px;
  // border-radius: 10px;
  // border-left: 1px solid rgba(255, 255, 255, 0.276) ;
  border-bottom: 1px solid rgba(255, 255, 255, 0.276) ;
  // background: rgba(255, 255, 255, 0.276);
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: rgba(205, 205, 205, 0.077);

  &:hover {
    background: rgba(205, 205, 205, 0.116);
  }
}

.likesWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  column-gap: 10px;
  font-size: 12px;

  span {
    display: flex;
    align-items: center;
  }

  img {
    height: 20px;
    filter: grayscale(1) invert(1);
    opacity: 0.7;

    &[data-pressed="true"] {
      opacity: 0.9;
      filter: invert(21%) sepia(100%) saturate(2414%) hue-rotate(359deg) brightness(94%) contrast(100%);
    }
  }
}

.likeBtn {
  display: flex;
  column-gap: 5px;
  padding: 0 5px;
  user-select: none;
  width: 70px;

  img {
    cursor: pointer;
  }

  &[data-dislike] {
    img {
      rotate: 180deg;
    }
  }

  &[data-like] {
    img[data-pressed="true"] {
      opacity: 0.9;
      filter: invert(21%) sepia(100%) saturate(2414%) hue-rotate(359deg) brightness(94%) contrast(100%);
      animation: like 0.5s forwards;

      @keyframes like {
        50% {
          transform: rotate(-20deg) scale(1.2); 
        }
        100% {
          transform: rotate(0) scale(1);
        }
      }
    }
  }
}

.chevron {
  filter: grayscale(1) invert(1);
  height: 16px;
  transition: 0.3s;

  &[data-selected="true"] {
    transform: rotate(-180deg);
  }
}
